.news-item {

    &__in {
        padding: 50px 0;
    }

    &__head {
        margin-bottom: 100px;
    }

    &__mob {
        display: none;
    }

    &__body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &_img {
            width: 48%;
            height: 580px;
            flex: 0 0 auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: flex;
            }
        }

        &_content {
            width: 48%;

            &_name {
                font-weight: 700;
            font-size: 50px;
            line-height: 122%;
            text-transform: uppercase;
            margin-bottom: 25px;
            }

            &_date {
                margin-bottom: 25px;
            }

            &_subhead {
                font-weight: 700;
                margin-bottom: 25px;
            }

            &_text {
                margin-bottom: 20px;
            }

            &_action {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                
                &_btn {
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $brown;
                    @include def-anim;
                    border: 1px solid $brown;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 19px;
                    padding: 10px 50px;

                    &:hover {
                        background-color: $brown;
                        color: #fff;
                    }
                }

                
            }
        }
    }
}

@media (max-width: 768px) {
    .news-item {

        &__in {
            padding: 25px 0;
        }

        &__head {
            display: none;
        }
        &__mob {
            margin-bottom: 25px;
            display: block;
            &_name {
                font-weight: 700;
                font-size: 30px;
                line-height: 122%;
                margin-bottom: 25px;
                text-align: center;
                text-transform: uppercase;
            }

            &_date {
                font-size: 12px;
                line-height: 18px;
                text-align: center;
            }
        }
        &__body {
            flex-wrap: wrap;

            &_img {
                width: 100%;
                margin-bottom: 20px;
                height: 300px;
            }

            &_content {
                width: 100%;

                &_name {
                    display: none;
                }

                &_date {
                    display: none;
                }

                &_action {

                    &_btn {

                        background-color: $brown;
                        color: #fff;
                    }
                }
            }
        }
    }
}


@media (max-width: 420px) {
    .news-item {

        &__body {

            &_content {

                &_action {

                    &_btn {
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}