.news-page {

    background-color: $brown;
    height: 100%;

    .promo {
        color: #fff;
    }
}

@media (max-width: 768px) {

    .news-page {

        .promo {

            &__in {
                padding: 25px 0;
            }

            &__head {
                margin-bottom: 25px;
            }
        }
    }
}

