.services-price {

    &__in {
        padding: 50px
    }

    &__head {
        text-align: center;
        margin-bottom: 30px;

    }

    &__body {

        &_item {
            
        }
    }
}