.services-wr {
    color: #fff;
    background-color: $brown;

    &__in {
        padding: 60px 0;
    }

    &__head {
        margin-bottom: 60px;
        text-align: center;
    }

    &__body {

        &_brands {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 100px;

            &_item {
                width: 220px;
                height: 220px;
                margin: 0 40px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: flex;                    
                }
            }
        }

        &_content  {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            &_img {
                width: 48%;    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: flex;
                }
            }

            &_descr {
                width: 48%;
                padding-top: 30px;
                &_head {
                    margin-bottom: 30px;font-weight: 700;
                    font-size: 35px;
                    line-height: 122%;
                    text-transform: uppercase;
                }

                &_text {
                    font-size: 20px;
                    line-height: 122%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .services-wr {

        &__body {

            &_brands {
                margin-bottom: 25px;

                &_item {
                    height: auto;
                    margin-bottom: 40px;
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            &_content {
                flex-wrap: wrap;

                &_img {
                    width: 100%;
                }
                &_descr {
                    width: 100%;
                }
            }
        }
    }
}